---
---

<header class='min-w-full h-screen max-h-[720px] relative overflow-hidden'>
  <section class='flex flex-col gap-10'>
    <article class='min-h-[380px] grid place-content-center relative z-30'>
      <div
        class='h-[380px] w-[175px] flex justify-between bg-transparent bg-gradient-to-t from-darkGray to-black relative pt-5'
      >
        <img
          src='/assets/myself-no-bg.png'
          alt='Picture of Ezequiel Alarcon.'
          class='h-[290px] grayscale object-cover self-end'
        />
        <div class='w-full flex flex-col items-center gap-5 absolute'>
          <div class='text-center'>
            <p class='font-bold text-2xl'>Ezequiel Alarcon</p>
          </div>
          <nav class='w-full flex justify-around'>
            <a href='#'><img src='assets/icon-github.svg' alt='' /></a>
            <a href='#'><img src='assets/icon-frontend-mentor.svg' alt='' /></a>
            <a href='#'><img src='assets/icon-linkedin.svg' alt='' /></a>
          </nav>
        </div>
      </div>
    </article>

    <article class='w-full flex justify-center'>
      <div class='max-w-[343px] text-center grid gap-6'>
        <h1 class='font-bold text-3xl'>
          Nice to meet you! <br /> I'm <span
            class='underline decoration-2 decoration-green underline-offset-4'
            >Ezequiel Alarcon</span
          >
        </h1>
        <p class='font-medium text-base'>
          Based in the Madrid, I’m a front-end developer passionate about
          building accessible web apps that users love.
        </p>
        <a
          href='#'
          class='underline decoration-2 decoration-green underline-offset-8'
        >
          Contact me
        </a>
      </div>
    </article>
  </section>
  <div class='absolute top-1/4 -left-96 z-0'>
    <img src='/assets/pattern-rings.svg' alt='' />
  </div>
  <!-- background ring -->
  <div class='absolute -right-16 top-2/3 z-0'>
    <img src='/assets/pattern-circle.svg' alt='' />
  </div>
  <!-- background ring 2 -->
</header>
