<article class='text-center'>
  <p class='font-bold text-3xl'>HTML</p>
</article>
<article class='text-center'>
  <p class='font-bold text-3xl'>CSS</p>
</article>
<article class='text-center'>
  <p class='font-bold text-3xl'>JavaScript</p>
</article>
<article class='text-center'>
  <p class='font-bold text-3xl'>React</p>
</article>
<article class='text-center'>
  <p class='font-bold text-3xl'>TypeScript</p>
</article>
<article class='text-center'>
  <p class='font-bold text-3xl'>Tailwind</p>
</article>
<article class='text-center'>
  <p class='font-bold text-3xl'>Astro</p>
</article>
